.shadow {
    box-shadow:  0 0 8px rgba(0,0,0,0.5); 
    padding: 1px;
}
body {
    background-color: #5C468C;
}

p, li {
    color: #F2F2F2;
    font-size: 150%;
    font-family: Verdana, Geneva, sans-serif;
}

a {
    color: whitesmoke;
}

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        color: rebeccapurple;
    }
